//引入header
@import url("header.less");

//横向出现滚动条
body{
    overflow-x: hidden;
}

//定义个人中心的样式
#mainContent{
    margin-top: 10px;
    
    .panel-body{
        ul{
            list-style: none;
            
            li{
                line-height: 26px;
                
                a{
                    &:focus{
                        font-weight: bold;
                        color: orangered;
                    }
                }
            }
        }
    }
    
    #leftMenu{
    }
    
    #rightCon{
        
        #toggleMenu{
            display: none;
        }
        
        .panel-body{
            padding: 30px;
            
            .row:nth-child(1){
                img{
                    width: 80px;
                }
            }
            
            .row:nth-child(2){
                font-size: 16px;
                padding: 20px 0px;
                margin: 10px 0px;
                border-top: solid 1px #F0F0F0;
            }
            
            .row:nth-child(4){
                div{
                    margin: 10px 0px;
                    
                    .authIcon{
                        background: url("@{bgPath}shiming.png") no-repeat left center;
                        padding-left: 65px;
                    }
                }
            }
        }  
    }
}

@media all and (max-width: 768px){
    #mainContent{
        position: relative;
        left: 0px; //菜单展开的状态
        transition: all 0.8s ease-in-out;
        
        min-height: 900px;
        
        
        #leftMenu{
            position: absolute;
            left: 0px;
        }
        
        #rightCon{
            #toggleMenu{
                display: inline-block;
            }
                
            position: absolute;
            right: -50%;
        }
    }
    
    //菜单收起的状态
    #mainContent.active{
        left: -50%;
    }
}

//引入页脚
@import url("footer.less");